body{
    background-attachment: fixed;
    background-image: url(BG_car.jpg);
    margin: 0;
    padding-bottom: 100px;

}
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        color: rgb(0, 0, 0);
        text-align: center;
        justify-content: baseline;
    }
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        color: rgb(32, 32, 0);}
        h3{
            font-size: 70px;
            text-align: center;
            color: rgb(202, 202, 0);
        }
     /* Style for the logo container */
     #logo-container {
        position:absolute; /* Position the logo relative to the viewport */
        top: 10px; /* Adjust the top distance as needed */
        right: 10px; /* Adjust the right distance as needed */
        z-index: 1; /* Ensure the logo appears above other content */
    }

    #logo-img {
        width: 100px; /* Adjust the logo size as needed */
        height: auto; /* Maintain aspect ratio */
    }


    img{
        border-radius: 50%;
        margin-top: .3cm;
        align-items: center;
        height: 400px; /* Adjust the logo size as needed */
        width: 400px;    /* Maintain aspect ratio */
        margin-left: 20px;
        padding: 40px;
    }
    .image-container {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */}
    /* Gallery container */
    #img-gallery{
        height: 70px;
        padding: 45px;
    }
    .navbar {
        background-color: rgb(255, 220, 65);
        color: beige;
        padding: 20px;
        margin: 0;
        text-align: center;
       

    }
    a {
    text-decoration: none; 
    color: rgba(10, 0, 51, 0.932)
    }
    .navbar {
        background-color:rgb(255, 220, 65) ;
        text-align: center;
        color: rgb(212, 117, 0);
        font-size: 30px;
        position:absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  
        
    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navbar li{
        display: inline-block; 
        margin-right: 150px; 
    }
    .navbar a:hover{
        color: rgb(212, 117, 0);}


        .footer{
        background-color:rgb(255, 220, 65) ;
        text-align: center;
        color:rgba(10, 0, 51, 0.932);
        font-size: 20px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        }
        @media only screen and (min-width: 430px) and (max-width: 1000)   {
            img {
                height: 400px;
                width: 400px;
                margin-left: 10px;
            }
            .navbar li{
            	display: block;
                margin-right: 20px;
            }
            .navbar {
                font-size: 20px;
                padding: 10px;
            }
            #logo-container {
                top: 5px;
                right: 5px;
            }
        }